/* global.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-image: url('../img/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    background-color: #f4f4f4;
    color: #333;
    /* FIXED: Contenido desbordado */
    max-width: 100vw;
    overflow-x: hidden;
    /* responsive footer */
    display: flex;
    flex-direction: column;
}

main {
    width: 1200px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    /* responsive footer */
    flex-grow: 1;
}