/* header.css */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #333;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
    transition: transform 0.3s ease;
    margin-right: 15px;
}

.logo img:hover {
    transform: scale(1.1);
}

.logo .name {
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    line-height: 50px;
    color: #ffffff;
    white-space: nowrap;
}

.logo a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

nav ul li a {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #007bff;
}

#gmail:hover {
    background-color: #c71610;
}

nav ul li img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    transition: transform 0.3s ease;
}

nav ul li img:hover {
    transform: scale(1.1);
}

/* Cambiar la imagen al hacer hover */
nav ul li a#github:hover img {
    content: url('../img/github_black.webp');
}

nav ul li a#linkedin:hover img {
    content: url('../img/linkedin_black.webp');
}

nav ul li a#x:hover img {
    content: url('../img/x_black.webp');
}

nav ul li a#instagram:hover img {
    content: url('../img/instagram_black.webp');
}

nav ul li a#telegram:hover img {
    content: url('../img/telegram_black.webp');
}

nav ul li a#gmail:hover img {
    content: url('../img/gmail_black.webp');
}