/* mobile.css */
@media (max-width: 480px) {

    header {
        margin: initial;
    }

    .logo img {
        width: 40px;
        height: 40px;
    }

    .logo .name {
        font-size: 18px;
    }

    nav ul li a {
        width: 25px;
        height: 25px;
    }

    nav ul li a:hover {
        background-color: initial;
    }

    nav ul li img {
        width: 20px;
        height: 20px;
    }


    section p {
        font-size: 0.9em;
    }

    .hero h1 {
        font-size: 1.5em;
    }

    .hero p {
        font-size: 0.9em;
    }

    .cta-button {
        padding: 8px 15px;
    }

    .about h2 {
        font-size: 1.25em;
    }

    .container_typing {
        width: 210px;
    }

}