/* main.css */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

section {
    margin: 40px 0;
    padding: 20px;
    background-color: #f9f9f9;
    border: 2px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

section p {
    font-size: 1.25em;
    text-align: center;
}

.hero {
    background: linear-gradient(to right, #007bff, #00d4ff);
    color: white;
    text-align: center;
    padding: 60px 20px;
    border-radius: 8px;
    margin-bottom: 40px;
}

.hero h1 {
    font-family: 'Pacifico', cursive;
    margin: 0;
    font-size: 2.5em;
}

.hero p {
    font-size: 1.25em;
    margin: 10px 0;
}

.cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    background-color: #fff;
    color: #007bff;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    border: 2px solid black;
}

.cta-button:hover {
    background-color: #007bff;
    color: #fff;
}

.about {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-left: 5px solid #007bff;
    margin-bottom: 40px;
}

.about h2 {
    margin: 0;
    font-size: 1.75em;
}

.container_typing {
    width: 280px;
    animation: animacion 1.5s steps(25), transparent .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    color: #000000;
    border-right: 3px solid;
    font-family: 'Inconsolata', monospace;
}

@keyframes animacion {
    from {
        width: 0px
    }
}

@keyframes transparent {
    50% {
        border-color: transparent
    }
}

.about p {
    font-size: 1.25em;
    line-height: 1.8;
    color: #333;
    text-align: left;
    margin-bottom: 20px;
}

.about p::first-letter {
    font-size: 1.5em;
    font-weight: bold;
}