/* mobile.css */

/* responsive */
@media (max-width: 827px) {

    header {
        flex-direction: column;
        justify-content: left;
        padding: 10px;
    }

    .logo {
        margin-bottom: 10px;
    }

    .logo img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }

    .logo .name {
        font-size: 20px;
        line-height: 50px;
    }

    nav ul li {
        background-color: #444;
        border-radius: 10px;
        transition: background-color 0.3s ease;
        width: auto;
        margin-bottom: 10px;
    }

    nav ul li img {
        width: 30px;
        height: 30px;
        transition: transform 0.3s ease;
    }

    nav ul li a:focus span,
    nav ul li a:hover span {
        display: none;
    }

    section {
        padding: 15px;
    }

    section p {
        font-size: 1em;
    }

    .hero {
        padding: 40px 15px;
    }

    .hero h1 {
        font-size: 2em;
    }

    .hero p {
        font-size: 1em;
    }

    .cta-button {
        padding: 8px 20px;
    }

    .about h2 {
        font-size: 1.75em;
    }

    /* iPhone 14 Pro Max */
    @media (max-width: 430px) {

        header {
            padding-left: 0;
        }

        nav ul li a {
            width: 40px;
            height: 40px;
        }

        nav ul li img {
            width: 45px;
            height: 45px;
        }

    }

    /* iPhone XR */
    @media (max-width: 414px) {

        nav ul li a {
            width: 35px;
            height: 35px;
        }

        nav ul li img {
            width: 40px;
            height: 40px;
        }

    }

    /* iPhone SE */
    @media (max-width: 375px) {

        nav ul li a {
            width: 30px;
            height: 30px;
        }

        nav ul li img {
            width: 40px;
            height: 40px;
        }
    }

    /* Samsung Galaxy S8+ */
    @media (max-width: 360px) {
        nav ul li a {
            width: 25px;
            height: 25px;
        }

        nav ul li img {
            width: 35px;
            height: 35px;
        }

        .hero,
        .about {
            margin: 0;
            padding: 5px;
        }
    }

    /* Apple Watch Serie 6 */
    @media (max-width: 162px) {


        .logo img {
            width: 20px;
            height: 20px;
        }

        .logo .name {
            font-size: 10px;
        }

        nav ul li a {
            width: 0;
            height: 0;
            padding: 8px;
            background-color: #333;
        }

        nav ul li img {
            width: 20px;
            height: 20px;
        }

        section {
            width: 120px;
            overflow-x: hidden;
        }

        .hero {
            padding: 0;
        }

        .hero h1 {
            font-size: 20px;
        }

        .cta-button {
            width: 20px;
            height: 20px;
            font-size: 5px;
            margin-bottom: 5px;
            margin-top: 5px;
        }

        .about h2 {
            font-size: 10px;
        }

        .about p {
            font-size: 7px;
        }
    }

}